.content {
    max-width: 100%;
    margin: 0 auto;
        h1 {
          font-size: 50px;
          font-weight: bold;
            text-align: center;
        }
        h2 {
          font-size: 30px;
          font-weight: bold;
          text-align: center;
        }
        
        p {
            font-size: 22px;
     }
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    font-size: 0.6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
  }
  
  .service {
    justify-content: center;
    text-align: center;
  }

  @media screen and (max-width: 1400px) {
    .services-container {
    grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (max-width: 1200px) {
    .services-container {
    grid-template-columns: repeat(3, 1fr);
    letter-spacing: 0px;
    }
  }

  @media screen and (max-width: 931px) {
    .services-container {
    grid-template-columns: repeat(2, 1fr);
    letter-spacing: 0px;
    }
    .content {
      h1, h2, p {
        font-size: large;
      }
    }
  }

  @media screen and (max-width: 350px) {
    .services-container {
    grid-template-columns: repeat(1, 1fr);
    letter-spacing: 0px;
    }

    .content {
      h1, h2, p {
        font-size: medium;
      }
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1.2rem;
    }
}