.movie-container { 
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    z-index: 2;
    color: white;

    &:hover + img {
        filter: blur(5px);
        transform: scale(1.2);
    }
}

img {
    max-width: 100%;
    display: inline-block;
    transition: all .5s;
}

.movie-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: .8rem;
    line-height: 1.7rem;
}

@media screen and (max-width: 768px) {
    .movie-title {
        display: none;
    }
}